<div class="row">
  <div class="col-sm-6" *ngFor="let tipOsiguranja of tipoviOsiguranja" style="margin-bottom: 2%">
    <div class="card text-center">
      <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg" alt="Card image cap" style="width:20%">              
      <div class="card-block">
        <h3 class="card-title">{{tipOsiguranja?.naziv}}</h3>
        <app-osiguranje-modal [childData] = "tipOsiguranja"></app-osiguranje-modal>
      </div>
    </div>
  </div>
</div>